@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #EAEAF5;
    padding: 10px 0;
    height: 10dvh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

.logo {
    text-align: left;
    color: #222FDD;
    font-size: 21px;
    font-weight: bold;
    padding-left: 100px;
    margin-left: 10px;
}

.nav {
    text-align: right;
    display: flex;
    padding-left: 800px;
    margin-right: 10px;
}

.nav ul li {
    display: inline-block;
    color: #0E1577;
    margin-left: 4dvh;
    align-items: right;
    font-size: 15px;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #0E1577;
    transition: color 0.3s ease;
}

.Home {
    height: 100dvh;
    background-color: #EAEAF5;
    align-items: center;
    display: flex;
}   

.Home-content {
    width: 50%;   
    height: 70dvh;
    align-content: center;
}

.Home-content h6 {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    padding-left: 100px;
    margin-left: 10px;
    background: none;
}

.Home-content h4 {
    font-size: 25px;
    color: #222FDD;
    padding-left: 100px;
    margin-left: 10px;
    margin-top: -5px;
}
 
.Home-content p {
    font-size: 14px;
    color: #000000;
    padding-left: 100px;
    padding-right: 150px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.2;
}

.Home-content .ui {
    font-size: 90px;
    color: #0E1577;
    padding-left: 100px;
    margin-left: 10px;
    margin-top: -30px;
}

.Home-content .designer {
     font-size: 90px;
    color: #0E1577;
    padding-left: 100px;
    margin-left: 150px;
    margin-top: -55px;
}

.Home-content button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 22px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none; 
    margin-top: 5px;
}

.Home-content .Hire-me {
    background-color: #222FDD;
    color: #fff;
    margin-left: 110px;
}

.Home-content .Download-CV {
    background: transparent;
    color: #222FDD;
    border: 2px solid #222FDD;
}

.icons {
    margin-left: 10px;
    padding-left: 100px;
}

.icons img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.Image {
    width: 50%;
    height: 70dvh;
    display: flex;
    justify-content: left;
    margin-top: 10dvh;
}

.About {
    height: 90dvh;
    width: 100%;
    background-color: #D6E4F0;
    align-items: center;
    display: flex;
}

.About img {
    width: 290px;
    height: 300px;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.About-content h4 {
    font-size: 21px;
    color: #0E1577;
    margin-bottom: 10px;
    font-weight: 500;
}

.About-content .Whois {
    font-size: 32px;
    color: #0E1577;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    padding-right: 5px;
}

.About-content .Chit {
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
    color: #222FDD;
    margin-bottom: 10px;
    display: inline-block;
}

.About-content p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
    margin-right: 200px;
}

.About-content .numbers {
    word-spacing: 150px;
    font-weight: 600;
    color: #222FDD;
}

.About-content .des1 {
    font-size: 18px;
    color: #0E1577;
    display: inline-block;
    margin-right: 50px;
    font-weight: 600;
}

.About-content .des2 {
    font-size: 18px;
    color: #0E1577;
    display: inline-block;
    margin-right: 30px;
    font-weight: 600;
}

.About-content .des3 {
    font-size: 18px;
    color: #0E1577;
    display: inline-block;
    font-weight: 600;
}

.Service-content {
   justify-items: left;
   padding-left: 100px;
   margin-left: 10px;
   padding-top: 10dvh;
   padding-bottom: 10dvh;
}

.Service h4 {
    font-size: 21px;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-weight: 500;
    margin-bottom: -5px;
}

.Service h1 {
    font-size: 32px;
    color: #222FDD;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 8px;
}

.Service h2 {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}

.Service{
    height: 110dvh;
    width: 100%;
    background-color: #0E1577;
    align-items: center;
    justify-content: center;
}

.Service .parent {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
}
    
.Service .div1 {
    grid-row: span 4 / span 4;
    width: 40dvh;
    height: 44dvh;
    border-radius: 16px;
    border-style: 2px;
    border-color: #dfdede;
    border-style: solid;
    background-color: #c0bebe27;
}

.Service .div2 {
    grid-row: span 4 / span 4;
    width: 40dvh;
    height: 44dvh;
    border-radius: 16px;
    border-style: 2px;
    border-color: #dfdede;
    border-style: solid;
    background-color: #c0bebe27;
}

.Service .div3 {
    grid-row: span 4 / span 4;
    width: 40dvh;
    height: 44dvh;
    border-radius: 16px;
    border-style: 2px;
    border-color: #dfdede;
    border-style: solid;
    background-color: #c0bebe27;
}

.Service .div4 {
    grid-row: span 4 / span 4;
    width: 40dvh;
    height: 44dvh;
    border-radius: 16px;
    border-style: 2px;
    border-color: #dfdede;
    border-style: solid;
    background-color: #c0bebe27;
}
        
.div1 img, .div2 img, .div3 img, .div4 img {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 30px;
}

.div1 h1 {
    font-size: 21px;
    color: #FFFFFF;
    margin-left: 20px;
    font-weight: 600;
}

.div1 h3 {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 20px;
    line-height: 1.4;
    margin-top: -10px;
}

.div1 p {
    font-size: 15px;
    color: #FFFFFF;
    opacity: 75%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.5;
}

.div1 h4 {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: 600;
    cursor: pointer;
}

.div2 h1 {
    font-size: 21px;
    color: #FFFFFF;
    margin-left: 20px;
    font-weight: 600;
}

.div2 h3 {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 20px;
    line-height: 1.4;
    margin-top: -10px;
}

.div2 p {
    font-size: 15px;
    color: #FFFFFF;
    opacity: 75%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    line-height: 1.5;
}

.div2 h4 {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: 600;
    cursor: pointer;
}

.div3 h1 {
    font-size: 21px;
    color: #FFFFFF;
    margin-left: 20px;
    font-weight: 600;
}

.div3 h3 {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 20px;
    line-height: 1.4;
    margin-top: -10px;
}

.div3 p {
    font-size: 15px;
    color: #FFFFFF;
    opacity: 75%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    line-height: 1.5;
}

.div3 h4 {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: 600;
    cursor: pointer;
}

.div4 h1 {
    font-size: 21px;
    color: #FFFFFF;
    margin-left: 20px;
    font-weight: 600;
}

.div4 h3 {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 20px;
    line-height: 1.4;
    margin-top: -10px;
}

.div4 p {
    font-size: 15px;
    color: #FFFFFF;
    opacity: 75%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    line-height: 1.5;
}

.div4 h4 {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: 600;
    cursor: pointer;
}

.Tools {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 26px;
    color: #FFFFFF;
    font-style: italic;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 20px;
}

.icons2 {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.Project {
    height: 90dvh;
    width: 100%;
    background-color: #EAEAF5;
    display: inline-block;
}

.Project-content h4 {
    font-size: 21px;
    color: #0E1577;
    padding-left: 100px;
    margin-left: 10px;
    margin-top: 10dvh;
    margin-bottom: -10px;
    font-weight: 500;
}

.Project-content h1 {
    font-size: 32px;
    color: #000000;
    padding-left: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.Project-icon {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 15dvh;
}

.Project-icon img {
    width: 950px;
    height: 300px;
    cursor: pointer;
}

.Connect {
    height: 100dvh;
    width: 100%;
    background-color: #0E1577;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    padding: 100px 100px;
    flex-wrap: wrap;
}

.Connect-content h4 {
    font-size: 16px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding-top: 10dvh;
    margin-bottom: -10px;
    font-weight: 500;
}

.Connect-content .one {
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: -10px;
    font-weight: normal;
    font-style: italic;
    margin-left: 10px;
    padding-left: 100px;
    padding-top: 10dvh;
}

.Connect-content .two {
    font-size: 30px;
    color: #222FDD;
    margin-bottom: -10px;
    font-weight: normal;
    font-style: italic;
    margin-left: 10px;
    padding-left: 100px;
}

.Connect-content .three {
    font-size: 30px;
    color: #222FDD;
    margin-bottom: -10px;
    font-weight: normal;
    font-style: italic;
    margin-left: 10px;
    padding-left: 100px;
    display: inline-block;
}

.Connect-content .four {
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: -10px;
    font-weight: normal;
    font-style: italic;
    margin-left: 10px;
    display: inline-block;
}

.Connect-content p {
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
}


.form-container {
  background-color: #10167a;
  color: white;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 40px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.4rem;
  font-size: 0.95rem;
}

input,
textarea {
  background-color: #6f6f9c;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 0.95rem;
  color: #111;
}

input::placeholder,
textarea::placeholder {
  color: #2f2f2f;
  opacity: 0.8;
}

textarea {
  resize: none;
}

.submit-btn {
  background-color: #2439f3;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 130px;
  align-self: flex-start;
}

.submit-btn:hover {
  background-color: #222FDD;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .form-container {
    padding: 25px;
  }

  .form-row {
    flex-direction: column;
  }

  .submit-btn {
    width: 100%;
    text-align: center;
  }
}


